@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #d6e2f0;
  width: 100vw;
  height: 100vh;
}

.container {
  background-color: white;
  width: 30%;
  height: auto;
  padding: 1.5rem;
  border-radius: 15px;
}
@media (max-width: 375px) {
  .container {
    width: 80%;
  }
}

.top-img {
  max-width: 100%;
  object-fit: contain;
  border-radius: 15px;
}

.head {
  padding: 1rem;
  text-align: center;
  font-size: 2em;
}
@media (max-width: 375px) {
  .head {
    font-size: 1em;
  }
}

.para {
  padding: 1rem;
  text-align: center;
  font-size: 1.5em;
}
@media (max-width: 375px) {
  .para {
    font-size: 1em;
  }
}