* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@mixin flex() {
    display: flex;
    justify-content: center;
    align-items: center;
}
body {
    @include flex;
    background-color: $Light-gray;
    width: 100vw;
    height: 100vh;
}

