$White: hsl(0, 0%, 100%);
$Light-gray: hsl(212, 45%, 89%);
$Grayish-blue: hsl(220, 15%, 55%);
$Dark-blue: hsl(218, 44%, 22%);

$weight-sm: 400;
$weight-lg: 700;

$family: 'Outfit', sans-serif;

$padding: 1.5rem;
$padding-text: 1rem;
$rad: 15px;
$align: center;

$head-font-sm: 1em;
$head-font: 2em;
$para-font-sm: .5em;
$para-font: 1.5em;